@import 'vars.scss';

.main{
	overflow: hidden;
	width:1300px;
	li{
		width:224px;
		height:250px;
		float:left;
		border:solid 1px #ddd;
		padding:0 10px;
		margin-bottom:20px;
		margin-right:20px;
		img{
			width:100%;
			height:180px;
		}
		h1{
			font-weight:bold;
			font-size:15px;
		}
		p{
			font-size:13px;
			span{
				font-weight:bold;
				font-size:14px;
				color:red;
			}
		}
		.scj{
			span{
				text-decoration:line-through;
			}
		}
	}

	
}